<div class="mt-4 col-md-8 offset-2">

  <div class="card">
    <div class="card-header">Signup</div>
    <div class="card-body">


      <form novalidate [formGroup]="signUpForm">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName='name' [ngClass]="{'is-invalid': (signUpForm.controls.name.invalid && signUpForm.controls.name.touched)}">
            <div class="invalid-feedback">
              Required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" formControlName='username' [ngClass]="{'is-invalid': (signUpForm.controls.username.invalid && signUpForm.controls.username.touched)}">
            <div class="invalid-feedback">
              Required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': (signUpForm.controls.password.invalid && signUpForm.controls.password.touched)}">
            <div class="invalid-feedback">
              Required
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="pass_confirmed" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="pass_confirmed" placeholder="Password" formControlName="password_confirmation" [ngClass]="{'is-invalid': (signUpForm.controls.password.invalid && signUpForm.controls.password.touched)}">
              <div class="invalid-feedback">
                Required
              </div>
            </div>
          </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="button" class="btn btn-primary" (click)="onSubmit(signUpForm)">Sign in</button>
            <a routerLink="/login" class="btn btn-info">Login</a>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>